/*Header*/
header{
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding: 0px 24px;
}

header div{
  display: flex;
  align-items: center;
  height: 32px;
  border: 1px solid red;
}

.nav span{
  padding-left: 16px;
}

/*Banner*/

.banner{
  display: flex;
  background-color: Gainsboro;
}

.bannerimg{
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
}

.bannerimg img{
  padding: 32px 24px;
  width: 90%;
}

.bannerheadings{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bannerheadings button{
  background-color: DimGray;
  color: white;
  padding: 8px 0 8px 0;
}

/*Info Banner*/

.infobanner{
 display: flex;
}

.practicebanner{
  flex-direction: column;
  width: 60%;
  border: 1px solid red;
}

.practicebannerimg{
  display: flex;
  justify-content: center;
  border: 1px solid red;
}

.practicebannerimg img{
  padding: 32px 24px;
  width: 90%;
  height: 80%;
}

.practicingcaptions{
  padding: 32px 24px;
}

.practicingcaptions p{
  padding-top: 24px;
}

.practicingcaptions span{
  padding-top: 32px;
}


.information{
  padding: 32px 0 32px 0;
  width: 40%;
}

.info{
  display: flex;
  justify-content: center;
}
