html{
  font-size: 16px;
}

body{
  font-family: 'Roboto', sans-serif;
  color: rgb(78, 82, 87);
}

h1{
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 3rem;
}

h2{
  font-weight: 500;
  font-size: 1.8rem;
}

h2:hover{
  font-weight: 900;
}

h3{
  line-height: 1.5rem;
  letter-spacing: 0.021rem;
  font-size: 1.2rem;
}

h4{
  color: CornflowerBlue;
}

h4:hover{
  font-weight: 900;
}

a{
  text-decoration: none;
}

/*Header*/
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  padding: 0rem 1.5rem;
}

header div{
  display: flex;
  align-items: center;
  height: 2rem;
}

.name span:first-child{
  font-weight: 700;
}

.name span:last-child{
  font-weight: 300 ;
}

.nav span{
  padding-left: 1rem;
  font-weight: 400;
  color: rgb(78, 82, 87);
}

.nav a{
  text-decoration: none;
}

.nav span:hover{
  color: rgb(78, 82, 87);
  font-weight: 500;
}

.mobile{
  justify-content: center;
  display: none;
  visibility: hidden;
}

@media only screen and (max-width:550px){
  .mobile{
    visibility: visible;
    display: flex;
  }

  .mobile span:first-child{
    font-weight: 700;
  }

  .deskheader{
    display: none;
    visibility: hidden;
  }
}

/*Banner*/

.banner{
  display: flex;
  background-color: Gainsboro;
}

.bannerimg{
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bannerimg img{
  padding: 2rem 1.5rem;
  width: 90%;
}

.bannerheadings{
  width: 30%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  /*padding: 2rem;*/
}

.bannerheadings div:nth-child(1n+1){
  padding-bottom: 1.8rem;
}

.bannerheadings div:nth-child(0n+2){
  font-weight: 500;
  font-size: 1.5rem ;
}

button{
  background-color: rgb(78, 82, 87);
  color: white;
  padding: 0.5rem 0rem 0.5rem 0rem;
}

button h3{
  font-size: 1.2rem;
}

@media only screen and (max-width:550px){

  .banner{
    display: block;
  }

  .bannerimg{
    width: 100%;
    margin: 0 auto;
    padding: 0rem;
  }

  .bannerimg img{
    padding: 0rem;
    width: 100%;
  }

  .bannerheadings{
    width: 100%;
    padding: 2rem 1rem;
  }

  button{
    width: 90%;
  }

}

/*Info Banner*/

.infobanner{
 display: flex;
}

.practicebanner{
  flex-direction: column;
  width: 60%;
}

.practicebannerimg{
  display: flex;
  justify-content: center;
  padding: 2rem 1.5rem 2rem 0;
}

.practicebannerimg img{
  width: 90%;
  height: 80%;
}

.practicingcaptions{
  padding: 2rem 1.5rem;
  line-height: 1.5rem;
  letter-spacing: 0.021rem;
}

.practicingcaptions p{
  padding-top: 1.5rem;
}

.practicingcaptions p:last-child{
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.practicingcaptions span{
  padding-top: 2rem;
}

.information{
  padding: 1rem 0rem 1rem 0rem;
  width: 40%;
}

.info{
  display: flex;
  align-items: center;
  padding: 1rem 0 1rem 1rem;
  border-bottom: 1px solid rgb(245, 245, 245);
}

.info:hover{
  background-color: Gainsboro;
}

.detailimg{
  width: 35%;
}

.detailimg img{
  width: 100%;
  height: auto;
}

.details{
  width: 65%;
  padding-left: 2rem;
}

.details div:nth-child(1n+1){
  padding-top: 0.6rem;
}

@media only screen and (max-width:550px){

  .practicebanner{
    display: none;
  }

  .information{
    padding: 1rem 0rem 1rem 0rem;
    width: 100%;
  }

  .info{
    display: block;
    width: 100%;
    padding: 0rem;
  }

  .detailimg{
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .detailimg img{
    padding: 1rem 1rem;
    width: 90%;
    height: auto;
  }

  .detailimgmobile{
    padding: 3rem 0rem 0rem 0rem;
  }
}

/*Start Learning Banner*/
.learningslogan{
  text-align: center;
  padding: 2rem 0rem;
}

.startlearning{
  background-color: Gainsboro;
}

.courses{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem 4.5rem;
}

.course{
  width: 30%;
  background-color: white;
  margin: 1rem;
}

.course div:first-child img{
  width: 100%;
  height: auto;
}

.coursedetails{
  padding: 1rem 0rem 1.5rem 1rem;
}

.coursedetails div:first-child{
  padding-bottom: 1rem;
}

.coursedetails div:first-child h2{
  color: rgb(78, 82, 87);
}

.coursedetails div:nth-child(1n+2){
  padding-top: 0.5rem;
}

.mobilecourses{
  display: none;
}

@media only screen and (max-width:550px){

  .startlearning{
    background-color: white;
  }

  .courses{
    display: none;
  }

  .mobilecourses div{
    margin-bottom: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: Gainsboro;
    padding: 1rem 1rem 0.5rem 1rem;
}

  .mobilecourses div h3{
    padding: 1rem 1rem 1.5rem 1rem;
  }
}

/*Thesis Exhibit*/

.thesisheading{
  text-align: center;
  padding: 2rem 0rem;
}

.urban{
  display: flex;
  flex-direction: column;
  width: 60%;
}

video{
  padding: 0rem 1.5rem 1.5rem 1.5rem;
}

.urban div:last-child{
  padding-left: 1.5rem;
}

.mainurban{
  display: flex;
}

.urbandetails{
  width: 40%;
}

.urbandetail{
  display: flex;
  align-items: center;
  padding: 1rem 0rem 1rem 1rem;
}

.thefirstdetail{
  background-color: Gainsboro;
}

.urbanimg img{
  width: 100%;
  height: auto;
}

.urbancaption div:first-child{
  padding-bottom: 0.5rem;
}

@media only screen and (max-width:550px){

  .practicingcaptions{
    display: none;
  }

  #mobileurbandetails{
    display: none;
  }

}

/*Footer*/
footer{
  background-color: Gainsboro;
  display: flex;
  justify-content: space-between;
  border: 1px solid rgb(245, 245, 245);
  padding: 2rem 1.5rem 2rem 1.5rem;
}

footer div:last-child span{
  padding-left: 0.5rem;
}

/*Mobile Media Query*/
